<div class="ui form">
  
<%= form_for(document, html:{multipart: true}) do |f| %>

  <div class="field required">
    <%= f.label "File" %>

    <div class="ui top attached tabular menu">
      <div class="active item" data-tab="first">Upload</div>
      <div class="item" data-tab="second">Link</div>
    </div>
    <div class="ui active tab bottom attached segment" data-tab="first">
      <h5>Upload file from your computer</h5>
      <%= f.cl_image_upload :url, {html: {id:"document-upload"}} %>
    </div>
    <div class="ui tab bottom attached segment" data-tab="second">
      <h5>Or, paste link from Dropbox, Google Drive, ect.</h5>
      <%= f.text_field :url %>
    </div>
  </div>

  <div class="field required">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>


  <div class="field">
    <%= f.label :category %>
  <%= f.select :category, Document.categories.map { |key, value| [key.humanize, key] }, {}, class: "ui dropdown" %>
  </div>


  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 3 %>
  </div>


  <%= f.hidden_field :user_id, value: @current_user.id %>

  <div class="actions">
    <%= f.submit class:"ui primary button" %>
  </div>
<% end %>
</div>