
<%= render "layouts/top_nav" %>
<div class="ui container margin-top-80">
  
  <h3>Brochure</h3>
    <% Document.brochure.each do |document| %>
      <p><%= document.title %></p>
    <% end %>
  <div class="ui divider"></div>


  <h3>Collateral</h3>
    <% Document.collateral.each do |document| %>
      <p><%= document.title %></p>
    <% end %>
  <div class="ui divider"></div>


  <h3>Renders</h3>
    <% Document.renders.each do |document| %>
      <p><%= document.title %></p>
    <% end %>
  <div class="ui divider"></div>


  <h3>Floorplan</h3>
    <% Document.floorplan.each do |document| %>
      <p><%= document.title %></p>
    <% end %>
  <div class="ui divider"></div>


  <% if @current_user.present? && (@current_user.is_admin || @current_user.is_sales_admin) %>
    <%= link_to 'Upload', new_document_path, class:"ui primary button" %>
  <% end %>
</div>





