
<div class="ui container">

  
  <h3>Brochure</h3>
   <%= render 'document_items', documents: Document.brochure %>
  <div class="ui divider"></div>


  <h3>Collateral</h3>
    <%= render 'document_items', documents: Document.collateral %>
  <div class="ui divider"></div>


  <h3>Renders</h3>
    <%= render 'document_items', documents: Document.renders %>
  <div class="ui divider"></div>


  <h3>Contract of Sale</h3>
    <%= render 'document_items', documents: Document.contract_of_sale %>  
    
  <div class="ui divider"></div>


  <h3>Floorplan</h3>
    <%= render 'document_items', documents: Document.floorplan %>    
    
  <div class="ui divider"></div>

  <h3>Specifications</h3>
    <%= render 'document_items', documents: Document.specifications %>    

  <div class="ui divider"></div>

   


  <% if @current_user.present? && (@current_user.is_admin || @current_user.is_sales_admin) %>
    <%= link_to 'Upload', new_document_path, class:"ui primary button" %>
  <% end %>
</div>





