<div class="ui container">


<p id="notice"><%= notice %></p>


<h1>NAIA, Broadbeach</h1>
<h2>Marketing Collateral</h2>

<h3>Brochure</h3>
  <% Document.brochure.each do |document| %>
    <p><%= document.title %></p>
  <% end %>
<div class="ui divider"></div>


<h3>Collateral</h3>
  <% Document.collateral.each do |document| %>
    <p><%= document.title %></p>
  <% end %>
<div class="ui divider"></div>


<h3>Renders</h3>
  <% Document.renders.each do |document| %>
    <p><%= document.title %></p>
  <% end %>
<div class="ui divider"></div>


<h3>Floorplan</h3>
  <% Document.floorplan.each do |document| %>
    <p><%= document.title %></p>
  <% end %>
<div class="ui divider"></div>



<%= link_to 'Upload', new_document_path %>

</div>