<div class="ui top fixed menu">
  <a class="header item project-logo">
    <img src="/assets/naia-broadbeach.png" alt=""><span>Naia, Broadbeach</span>
  </a>
      
  <div class="item">
    <%= link_to "Marketing Colleteral", documents_path %>
  </div>
  <div class="item">
    <%= link_to "Stock List", "/projects/1/lots" %>
  </div>

  

  <div class="right menu">
    <% if @current_user.present? && (@current_user.is_sales_admin || @current_user.is_admin) %>
      <div class="item">
        <%= link_to "Manage Users", users_path %>
      </div>
    <% end %>

    <% if @current_user.present? %>
    <div class="item">
      Hi, <%= @current_user.name %> 
      <%= link_to edit_user_path(@current_user), class: "margin-left-15" do %>
        <i class="cog icon"></i>
      <% end %>
    </div>
    <% end %>
  </div>
  
</div>